.grid {

    //     display: flex;
    //     flex-wrap: wrap;


    mat-card {
        position: relative;
        margin: 5px;
        padding-bottom: 0;

        .gif {
            height: 100%;
            width: 200px;
            margin-bottom: 0;
        }

        mat-card-actions {
            position: absolute;
            bottom: 15px;
            display: none;
        }
        &:hover {
            mat-card-actions {
                cursor: pointer;
                display: block;
            }
        }

    }
}