<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="push">
        <side-nav></side-nav>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon fontIcon="menu"></mat-icon>
                </button>
                <span>Angular Giphy Project</span>
                <span class="example-spacer"></span>
                <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <main-content></main-content>


    </mat-drawer-content>
</mat-drawer-container>