<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="push">
        <side-nav></side-nav>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button> -->
                <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
                <div>Angular Giphy Project</div>
            </mat-toolbar-row>
        </mat-toolbar>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi corporis nobis debitis suscipit
            consequuntur temporibus fuga placeat nostrum. Est fuga nostrum vero consectetur rerum recusandae laboriosam,
            aliquid aut eum dolorum?</p>
    </mat-drawer-content>
</mat-drawer-container>




<!-- <main-content></main-content> -->